@import url('https://use.typekit.net/zof8gmy.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'noto-sans-sinhala', sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #ddd;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 16px;
}

.input-self {
  padding-left: 30px;
}

.show-icon {
  position: absolute;
  top: 16px;
  right: 10px;
}

@media (min-width: 768px) {
  .input-icon {
    left: 5px;
  }
}
